<div *ngIf='showSearchBox else filterTemplate'>
  <mat-form-field>
    <input matInput type='text' placeholder='username' [(ngModel)]='username'>
  </mat-form-field>
  <button mat-icon-button (click)='showContents()'>
    <mat-icon>search</mat-icon>
  </button>
</div>
<ng-template #filterTemplate>
  <div>
    <button mat-button (click)='resetAll()'>
      Search Again
    </button>
  </div>
  <mat-form-field>
    <input matInput placeholder="filter" (keyup)="filter($event.target.value)"/>
  </mat-form-field>
</ng-template>
<div>
  <mat-table #table [dataSource]='dataSource' matSort>
    <ng-container matColumnDef='name'>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef='let repo'>{{repo.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef='pushed_at'>
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef='let repo'>{{repo.pushed_at | date : 'dd/MM/yyyy  hh:mm:ss'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions_column">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef='let repo'>
        <button mat-icon-button (click)="showDialog(repo)">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button (click)="addToFavorites(repo)">
          <mat-icon>star</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
    <mat-row *matRowDef='let row; columns:displayedColumns'></mat-row>

  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5,10,20]"></mat-paginator>
</div>
